{{>header}}
{{>headerAspirante}}
<div class="container">
    <div class="row">
        <h2>Inscripcion en Curso</h2>
    </div>
    <div class="alert alert-{{tipoMensaje}}" role="alert">
        {{mensaje}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/inscribir" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCorreo">Correo Electrónico: </label>
                        <input type="email" class="form-control" id="txtCorreo" name="txtCorreo" placeholder=""
                            value="{{usuario.correo}}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtId">Cédula:</label>
                        <input type="text" class="form-control" id="txtId" name="txtId" placeholder=""
                            value="{{usuario.cedula}}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    
                    <div class="form-group col-md-6">
                        <label for="txtNombre">Nombre:*</label>
                        <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder=""
                            value="{{usuario.nombre}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtTelefono">Telefono:*</label>
                        <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" placeholder=""
                            value="{{usuario.telefono}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="cbxIdCurso">Curso:*</label>
                        <select class="form-control" id="cbxIdCurso" name="cbxIdCurso" required>
                            {{{cursosHtml}}}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <a class="btn btn-secondary" href="/" role="button">Cancelar</a>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}