{{>header}}
{{>headerCoordinador}}
<div class="container">
    <div class="row">
        <h2>Editar Curso</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/editarCurso" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtId">Identificador:*</label>
                        <input type="text" class="form-control" id="txtId" name="txtId" placeholder="" value="{{curso.id}}" required readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNombre">Nombre:*</label>
                        <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="" value="{{curso.nombre}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtDescripcion">Descripción:*</label>
                        <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="" value="{{curso.descripcion}}"
                            required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtValor">Valor:*</label>
                        <input type="number" class="form-control" id="txtValor" name="txtValor" placeholder="" value="{{curso.valor}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cbxModalidad">Modalidad:</label>
                        <select id="cbxModalidad" name="cbxModalidad" class="form-control">
                            {{#select curso.modalidad}}
                            <option value="Sin Especificar">Seleccionar</option>
                            <option value="presencial">Presencial</option>
                            <option value="virtual">Virtual</option>
                            {{/select}}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtIntensidad">Intensidad Horaria:</label>
                        <input type="number" class="form-control" id="txtIntensidad" name="txtIntensidad" value="{{curso.intensidad}}" 
                            placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fileImagen">Imagen del Curso</label>
                        <input type="file" class="form-control-file" id="fileImagen" name="fileImagen" accept="image/png, image/jpeg">
                    </div>
                    <div class="form-group col-md-6">
                        <img style="max-width: 25%" src = "data:img/png;base64,{{{imagen}}}" class="img-thumbnail">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <a class="btn btn-secondary" href="/coordinador" role="button">Cancelar</a>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{>footer}}